:root {
  --first-color: white;
  --second-color: #d6dfe6;
  --third-color: #a6c5da;
  --fourth-color: #eaeeef;
  --fifth-color: #67777e;

  --first-font-family: "Comfortaa";
}

.WeatherForecast {
    text-align: center;
  }
  
  .WeatherForecast-temperature-min {
    opacity: 0.8;
    margin-left: 20px;
  }
  

  .WeatherForecast .row .col {
    background-color: var(--second-color);
    color: var(--first-color);
    border-radius: 7px;
    margin: 0 15px 0 15px;
    padding: 15px 0;
  }

  .WeatherForecast .row .col:hover {
    background-color: var(--third-color);
  }